<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


		<title>Recomendador de Películas</title>


		<!--=====================================================
			CSS Stylesheets
		=====================================================-->
		<link rel='stylesheet' type='text/css' href='/static/bootstrap/css/bootstrap.min.css' >
		<link rel='stylesheet' type='text/css' href='/static/css/linea.css' >
		<link rel='stylesheet' type='text/css' href='/static/css/ionicons.min.css' >
		<link rel='stylesheet' type='text/css' href='/static/css/owl.carousel.css' >
		<link rel='stylesheet' type='text/css' href='/static/css/magnific-popup.css' >
		<link rel='stylesheet' type='text/css' href='/static/css/style.css' >
		<style type="text/css">
		table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
</style>
	</head>
	<body>


		<!--=====================================================
			Preloader
		=====================================================-->
		<div id='preloader' >
			<div class='loader' ></div>
			<div class='left' ></div>
			<div class='right' ></div>
		</div>


		<div class='main-content' >

			<!--=====================================================
				Page Borders
			=====================================================-->
			<div class='page-border border-left' ></div>
			<div class='page-border border-right' ></div>
			<div class='page-border border-top' ></div>
			<div class='page-border border-bottom' ></div>



			<!--=====================================================
				Menu Button
			=====================================================-->
			<a href='#' class='menu-btn' >
				<span class='lines' >
					<span class='l1' ></span>
					<span class='l2' ></span>
					<span class='l3' ></span>
				</span>
			</a>


			<!--=====================================================
				Menu
			=====================================================-->
			<div class='menu' >
				<div class='inner' >
					<ul class='menu-items' >

						<li>
							<a href='http://localhost:82' class='section-toggle' data-section='intro' >
								Home
							</a>
						</li>

					</ul>
				</div>
			</div>

			<div class='animation-block' ></div>


			<!--=====================================================
				Sections
			=====================================================-->
			<div class='sections' >

				<!--=====================================================
					Main Section
				=====================================================-->
				<section id='intro' class='section section-main active' >

					<div class='container-fluid' >

						<div class='v-align' >
							<div class='inner' >
								<div class='intro-text' >

									<h1>Recomendador de Películas</h1>

									<p>
										El núcleo de nuestro software a tu disposición
									</p>

									<div class='intro-btns' >

										<a href='#user' class='btn-custom section-toggle' data-section='user' >
											User to User
										</a>

										<a href='#item' class='btn-custom section-toggle' data-section='item' >
											Item to Item
										</a>

											<form method="post" action="http://localhost:82/user/nuevo">
     								 		<div class="form-row">
    

					                        <div class="form-row">

											<input type="submit" value="Usuario Nuevo" name="Usuario Nuevo" class='btn-custom section-toggle'/>
										</div>
					 					</form>
												
																
											 
            </div>
        
									
								</div>
							</div>

						</div>

					</div>

				</section>


			

				<section id='user' class='section about-section border-d' >

					<div class='section-block about-block' >
						<div class='container-fluid' >

							<div class='section-header' >
								<h2>
									Recomendador <strong class='color' >User - User</strong>
								</h2>
							</div>

							<div class='row' >

								<div class='col-md-4' >


     								 <form method="post" action="/#user">
     								 		<div class="form-row">
         									<p>Introduzca el UserID</p>
                            <div class="value">
                                <input maxlength="30" class="input--style-6" type="text" name="user"placeholder="1" required>
                            </div>
                        </div>
										<div class="form-row">
                            <div class="name">Número de Películas que desea recomendación</div>
                            <div class="value">
                                <input maxlength="30" class="input--style-6" type="text" name="items"placeholder="5" required>
                            </div>
                        </div>
                        <div class="form-row">
                        <div class="name">Umbral de Similitud Pearson</div>
                            <div class="value">
                                <input maxlength="30" class="input--style-6" type="text" name="umbral" placeholder="0.8" required>
                            </div>
                        </div>
                        <div class="form-row">
						<input type="submit" value="Recomendar" name="Enviar" class='btn-custom btn-color'/>
					</div>
 					</form>
 
									</ul>

								</div>

								<div class='col-md-8' >

									<div class='about-text' >
									<table class="blueTable">
											  <tr>
											    <th>Película Recomendada &nbsp; &nbsp; &nbsp; &nbsp;</th>
											    <th>Género&nbsp; &nbsp; &nbsp; &nbsp;</th>
											    <th>ID&nbsp; &nbsp; &nbsp; &nbsp;</th>
											    <th>Imágen&nbsp; &nbsp; &nbsp; &nbsp;</th>
											    <th>Predicción</th>
											  </tr>
											  {% for z in range(0,largo) %}
											  <tr>
											  	
											    <td>{{ result[z][2] }}</td>
											    <td> {{ result[z][3] }} </td>
											    <td> {{ result[z][1] }} </td>
											    <td> <img height="{{height}}" width="{{width}}" src="{{ result[z][4]}}"/></td>
											     <td> {{ result[z][0] }} </td>
								
											  </tr>
											   {% endfor %}

											</table>

									</div>

									<div class='about-btns' >


									</div>

								</div>

							</div>

						</div>
					</div>

					<div class='section-block services-block' >

						<div class='container-fluid' >

							<div class='section-header' >

								<h2>Predicciones<strong class='color' >User - Película</strong></h2>

							</div>



							<div class='row' >

								<div class='col-md-4' >
									<div class='service' >

										<div class='content' >

												<form method="post" action="http://localhost:82/user/predecir">
     								 		<div class="form-row">
         									<p>Introduzca el UserID</p>
                            <div class="value">
                                <input maxlength="30" class="input--style-6" type="text" name="user" placeholder="1" required>
                            </div>
                        </div>
                        <div class="form-row">

						<input type="submit" value="predecir" name="predecir" class='btn-custom btn-color'/>
					</div>
 					</form>

										</div>

									</div>
								</div>



				</section>

				
				<!--=====================================================
					Clasificar Section
				=====================================================-->
				<section id='item' class='section about-section border-d' >

					<div class='section-block about-block' >
						<div class='container-fluid' >

							<div class='section-header' >
								<h2>
									I'm a <strong class='color' >Programmer</strong>
								</h2>
							</div>

							<div class='row' >

								<div class='col-md-4' >

									<ul class='info-list' >

										<li>
											<strong>Name:</strong>
											<span>John Doe</span>
										</li>

										<li>
											<strong>Job:</strong>
											<span>Freelancer</span>
										</li>

										<li>
											<strong>Age:</strong>
											<span>26 Years</span>
										</li>

										<li>
											<strong>Residence:</strong>
											<span>United States</span>
										</li>

										<li>
											<strong>Hometown:</strong>
											<span>Dokri</span>
										</li>



									</ul>

								</div>

								<div class='col-md-8' >

									<div class='about-text' >
										<p>
											Qui ne indoctum electram vituperatoribus. Eirmod tamquam efficiendi mei cu, eum idque voluptatum ad, quo id tollit regione prompta. Cu probo iusto assentior eos, usu summo perpetua ne. Te suas phaedrum ullamcorper has. Ea mei ponderum rationibus dissentias. Inani phaedrum suavitate eu qui, vide aperiri facilis est eu. Te appetere cotidieque pro, duo eu assum facete instructior, no autem aeterno reprimique nec. Pri cu delectus adolescens, eruditi placerat cu sed, zril nonumes forensibus in eam. Eam ne dolore diceret pericula, in vis numquam pertinax. Vel ne dolorum eloquentiam, et vel senserit incorrupte neglegentur, pro cu audiam ocurreret reprimique.
										</p>

										<p>
											Qui ne indoctum electram vituperatoribus. Eirmod tamquam efficiendi mei cu, eum idque voluptatum ad, quo id tollit regione prompta. Cu probo iusto assentior. Qui ne indoctum electram vituperatoribus. Eirmod tamquam efficiendi mei cu, eum idque voluptatum ad.
										</p>

									</div>

									<div class='about-btns' >

										<a href='#' class='btn-custom btn-color' >
											Download Resume
										</a>

										<a href='#' class='btn-custom btn-color' >
											Hire Me
										</a>

									</div>

								</div>

							</div>

						</div>
					</div>

					<div class='section-block services-block' >

						<div class='container-fluid' >

							<div class='section-header' >

								<h2>My <strong class='color' >Services</strong></h2>

							</div>



							<div class='row' >

								<div class='col-md-4' >
									<div class='service' >

										<div class='icon' >
											<i class='icon-basic-photo' ></i>
										</div>

										<div class='content' >

											<form method="post" action="/#user">
     								 		<div class="form-row">
         									<p>Introduzca el UserID</p>
                            <div class="value">
                                <input maxlength="30" class="input--style-6" type="text" name="user"placeholder="1" required>
                            </div>
                        </div>
										<div class="form-row">
                            <div class="name">Número de Películas que desea recomendación</div>
                            <div class="value">
                                <input maxlength="30" class="input--style-6" type="text" name="items"placeholder="5" required>
                            </div>
                        </div>
                        <div class="form-row">
                        <div class="name">Umbral de Similitud Pearson</div>
                            <div class="value">
                                <input maxlength="30" class="input--style-6" type="text" name="umbral" placeholder="0.8" required>
                            </div>
                        </div>
                        <div class="form-row">
						<input type="submit" value="Recomendar" name="Enviar" class='btn-custom btn-color'/>
					</div>
 					</form>
										</div>

									</div>
								</div>

								
				</section>


				<!--=====================================================
					Portfolio Section
				=====================================================-->
				<section id='portfolio' class='section portfolio-section border-d' >

					<div class='section-block portfolio-block' >

						<div class='container-fluid' >


							<div class='section-header' >
								<h2>My <strong class='color' >Works</strong></h2>
							</div>

							<ul class='portfolio-filters' >
								<li>
									<a href='#' class='active' data-group='all' >
										All
									</a>
								</li>
								<li>
									<a href='#' data-group='web' >
										Web
									</a>
								</li>
								<li>
									<a href='#' data-group='tech' >
										Tech
									</a>
								</li>
								<li>
									<a href='#' data-group='photography' >
										Photography
									</a>
								</li>
							</ul>

							<ul class='portfolio-items' >

								<li data-groups='["web","tech"]' >
									<div class='inner' >
										<img src='img/portfolio/1.jpg' alt>

										<div class='overlay' >

											<a href='#popup-1' class='view-project' >
												View Project
											</a>

											<!--project popup-->
											<div id='popup-1' class='popup-box zoom-anim-dialog mfp-hide' >
												<figure>

													<!--project popup image-->
													<img src='img/portfolio/1.jpg' alt>

												</figure>
												<div class='content' >

													<!--project popup title-->
													<h4>My Project Title</h4>

													<!--project popup description-->
													<p>
														Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et fabellas explicari adipiscing quo, no mucius euismod vis. Cu vim quem quod cibo.
													</p>

												</div>

											</div>

										</div>

									</div>
								</li>

								<li data-groups='["tech","photography"]' >
									<div class='inner' >
										<img src='img/portfolio/2.jpg' alt>

										<div class='overlay' >

											<a href='#popup-2' class='view-project' >
												View Project
											</a>

											<!--project popup-->
											<div id='popup-2' class='popup-box zoom-anim-dialog mfp-hide' >
												<figure>

													<!--project popup image-->
													<img src='img/portfolio/2.jpg' alt>

												</figure>
												<div class='content' >

													<!--project popup title-->
													<h4>My Project Title</h4>

													<!--project popup description-->
													<p>
														Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et fabellas explicari adipiscing quo, no mucius euismod vis. Cu vim quem quod cibo.
													</p>

												</div>

											</div>

										</div>

									</div>
								</li>

								<li data-groups='["web","photography"]' >
									<div class='inner' >
										<img src='img/portfolio/3.jpg' alt>

										<div class='overlay' >

											<a href='#popup-3' class='view-project' >
												View Project
											</a>

											<!--project popup-->
											<div id='popup-3' class='popup-box zoom-anim-dialog mfp-hide' >
												<figure>

													<!--project popup image-->
													<img src='img/portfolio/3.jpg' alt>

												</figure>
												<div class='content' >

													<!--project popup title-->
													<h4>My Project Title</h4>

													<!--project popup description-->
													<p>
														Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et fabellas explicari adipiscing quo, no mucius euismod vis. Cu vim quem quod cibo.
													</p>

												</div>

											</div>

										</div>

									</div>
								</li>


								<li data-groups='["web"]' >
									<div class='inner' >
										<img src='img/portfolio/4.jpg' alt>

										<div class='overlay' >

											<a href='#popup-4' class='view-project' >
												View Project
											</a>

											<!--project popup-->
											<div id='popup-4' class='popup-box zoom-anim-dialog mfp-hide' >
												<figure>

													<!--project popup image-->
													<img src='img/portfolio/4.jpg' alt>

												</figure>
												<div class='content' >

													<!--project popup title-->
													<h4>My Project Title</h4>

													<!--project popup description-->
													<p>
														Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et fabellas explicari adipiscing quo, no mucius euismod vis. Cu vim quem quod cibo.
													</p>

												</div>

											</div>

										</div>

									</div>
								</li>

								<li data-groups='["tech"]' >
									<div class='inner' >
										<img src='img/portfolio/5.jpg' alt>

										<div class='overlay' >

											<a href='#popup-5' class='view-project' >
												View Project
											</a>

											<!--project popup-->
											<div id='popup-5' class='popup-box zoom-anim-dialog mfp-hide' >
												<figure>

													<!--project popup image-->
													<img src='img/portfolio/5.jpg' alt>

												</figure>
												<div class='content' >

													<!--project popup title-->
													<h4>My Project Title</h4>

													<!--project popup description-->
													<p>
														Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et fabellas explicari adipiscing quo, no mucius euismod vis. Cu vim quem quod cibo.
													</p>

												</div>

											</div>

										</div>

									</div>
								</li>

								<li data-groups='["photography"]' >
									<div class='inner' >
										<img src='img/portfolio/6.jpg' alt>

										<div class='overlay' >

											<a href='#popup-6' class='view-project' >
												View Project
											</a>

											<!--project popup-->
											<div id='popup-6' class='popup-box zoom-anim-dialog mfp-hide' >
												<figure>

													<!--project popup image-->
													<img src='img/portfolio/6.jpg' alt>

												</figure>
												<div class='content' >

													<!--project popup title-->
													<h4>My Project Title</h4>

													<!--project popup description-->
													<p>
														Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus explicari sed. Mel mutat vituperata suscipiantur et, et fabellas explicari adipiscing quo, no mucius euismod vis. Cu vim quem quod cibo.
													</p>

												</div>

											</div>

										</div>

									</div>
								</li>

							</ul>

						</div>

					</div>

				</section>


				<!--=====================================================
					Contact Section
				=====================================================-->
				<section id='contact' class='section contact-section border-d' >

					<div class='section-block contact-block' >

						<div class='container-fluid' >

							<div class='section-header' >
								<h2>Contact <strong class='color' >Me</strong></h2>
							</div>


							<div class='row' >

								<div class='col-md-8' >

									<div class='contact-form' >

										<form id='contact-form' data-toggle='validator' method='post' action='mail.php' >

											<div id='contact-form-result' ></div>

											<div class='row' >

												<div class='col-md-6' >
													<div class='form-group' >

														<input type='text' class='form-control' placeholder='Name' name='name' required>
														<div class='help-block with-errors' ></div>

													</div>
												</div>

												<div class='col-md-6' >
													<div class='form-group' >

														<input type='email' class='form-control' placeholder='Email' name='email' required>
														<div class='help-block with-errors' ></div>

													</div>
												</div>

											</div>

											<div class='form-group' >

												<input type='text' class='form-control' placeholder='Subject' name='subject' required>
												<div class='help-block with-errors' ></div>

											</div>

											<div class='form-group' >

												<textarea class='form-control' placeholder='Message' name='message' rows='5' required></textarea>
												<div class='help-block with-errors' ></div>

											</div>

											<div class='form-group text-center' >
												<button type='submit' class='btn-custom btn-color' >
													Send Message
												</button>
											</div>

										</form>

									</div>


								</div>

								<div class='col-md-4' >

									<div class='contact-info-icons' >

										<div class='contact-info' >

											<i class='ion-ios-location-outline' ></i>

											<p>
												1254 Patterson Street<br>
												Houston, TX 77025
											</p>

										</div>


										<div class='contact-info' >

											<i class='ion-ios-telephone-outline' ></i>

											<p>
												(+123) 713-295-4383<br>
												(+123) 913-295-2583
											</p>

										</div>


										<div class='contact-info' >

											<i class='ion-android-globe' ></i>

											<p>
												www.google.com<br>
												www.example.com
											</p>

										</div>




									</div>



								</div>


							</div>



						</div>

					</div>

				</section>

			</div>

		</div>


		<!--=====================================================
			JavaScript Files
		=====================================================-->
		<script src='/static/js/jquery.min.js' ></script>
		<script src='/static/js/jquery.shuffle.min.js' ></script>
		<script src='/static/js/owl.carousel.min.js' ></script>
		<script src='/static/js/jquery.magnific-popup.min.js' ></script>
		<script src='/static/js/validator.min.js' ></script>
		<script src='/static/js/script.js' ></script>

	</body>
</html>